In [198]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [206]:
pd.read_csv(r"Downloads/cleaned_data (2).csv")

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
0,Customer Service Agent,Johnson Controls,New Cairo,Full Time,Entry Level,1-3 Yrs of Exp,Cairo,"Call Center, Customer Support, Customer Care, ..."
1,Marketing Manager,SYE English Community,Dokki,Full Time,Manager,5-10 Yrs of Exp,Giza,"Market Research, Social Media, Online Marketin..."
2,Medical Representative Heliopolis,So Value Pharma,Cairo,Full Time,Entry Level,0-5 Yrs of Exp,Egypt,"Cardio-metabolic, Sales Skills, Sales Target, ..."
3,Order Handling Specialist,Johnson Controls,New Cairo,Full Time,Experienced,3-5 Yrs of Exp,Cairo,"Supply Officer, Supply Planner, Procurement an..."
4,Storekeeper,Confidential,Cairo,Full Time,Experienced,3+ Yrs of Exp,Egypt,"Warehousing, Storekeeping, Logistics/Supply Chain"
...,...,...,...,...,...,...,...,...
4372,Corporate Sales Executive - Hotel Supplies,Term,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"Corporate Sales, Sales Target, English, Comput..."
4373,Logistics Operations & Warehouse Supervisor,DHL Express Egypt,Abu Rawash,Full Time,Manager,6+ Yrs of Exp,Giza,"Warehousing, Supply Chain Management, Customs ..."
4374,English Teacher ( Second Language ) / Lower...,Modern American School of Egypt 2000,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"English Teacher, Lower Primar, Education, Teac..."
4375,Project Manager - Cairo,KnowledgeNet,Nasr City,Full Time,Manager,5+ Yrs of Exp,Cairo,"Implementation, Project Management, Informatio..."
4376,English Teacher / Primary Stages,Modern American School of Egypt 2000,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"English Teacher, Upper Primary, Education, Tea..."

In [208]:
df = pd.read_csv(r"Downloads/Wuzzuf_Jobs.csv")
df

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
0,Customer Service Agent,Johnson Controls,New Cairo,Full Time,Entry Level,1-3 Yrs of Exp,Cairo,"Call Center, Customer Support, Customer Care, ..."
1,Marketing Manager,SYE English Community,Dokki,Full Time,Manager,5-10 Yrs of Exp,Giza,"Market Research, Social Media, Online Marketin..."
2,Medical Representative Heliopolis,So Value Pharma,Cairo,Full Time,Entry Level,0-5 Yrs of Exp,Egypt,"Cardio-metabolic, Sales Skills, Sales Target, ..."
3,Order Handling Specialist,Johnson Controls,New Cairo,Full Time,Experienced,3-5 Yrs of Exp,Cairo,"Supply Officer, Supply Planner, Procurement an..."
4,Storekeeper,Confidential,Cairo,Full Time,Experienced,3+ Yrs of Exp,Egypt,"Warehousing, Storekeeping, Logistics/Supply Chain"
...,...,...,...,...,...,...,...,...
4375,Corporate Sales Executive - Hotel Supplies,Term,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"Corporate Sales, Sales Target, English, Comput..."
4376,Logistics Operations & Warehouse Supervisor,DHL Express Egypt,Abu Rawash,Full Time,Manager,6+ Yrs of Exp,Giza,"Warehousing, Supply Chain Management, Customs ..."
4377,English Teacher ( Second Language ) / Lower...,Modern American School of Egypt 2000,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"English Teacher, Lower Primar, Education, Teac..."
4378,Project Manager - Cairo,KnowledgeNet,Nasr City,Full Time,Manager,5+ Yrs of Exp,Cairo,"Implementation, Project Management, Informatio..."
4379,English Teacher / Primary Stages,Modern American School of Egypt 2000,New Cairo,Full Time,Experienced,3-7 Yrs of Exp,Cairo,"English Teacher, Upper Primary, Education, Tea..."

In [210]:
df.describe()

,Title,Company,Location,Type,Level,YearsExp,Country,Skills
count,4380,4380,4380,4380,4380,4380,4380,4380
unique,2965,1534,162,6,9,101,42,4227
top,Accountant,Confidential,Cairo,Full Time,Experienced,1-3 Yrs of Exp,Cairo,"Corporate Sales, Real Estate, Advertising, Mar..."
freq,57,590,563,4168,2198,414,2230,12

In [214]:
df.groupby(['Company']).sum()

,Title,Location,Type,Level,YearsExp,Country,Skills
Company,,,,,,,
((SKY Services)),Field Maintenance ManagerZone Manager ( Teleco...,Cairo Sharqia,Full TimeFull Time,ManagerManager,4-5 Yrs of Exp4-5 Yrs of Exp,EgyptEgypt,"Telecommunications, Field, Incident Management..."
199X Digital,Senior Account Manager,Maadi,Full Time,Manager,4-8 Yrs of Exp,Cairo,"Accounts, Arabic, English, Business Developmen..."
23prime pr,Videographer And Video EditorSocial Media Mode...,Zamalek Zamalek,Full TimeFull Time,Entry LevelEntry Level,1+ Yrs of Exp1+ Yrs of Exp,CairoCairo,"Video Editing, Adobe After Effects, Creative/D..."
360Imaging,Performance ManagerBrand ManagerFull Stack Dev...,Dokki Dokki Dokki Dokki Dokki Dokki,Full TimeFull TimeFull TimeFull TimeFull TimeF...,Work From HomeWork From HomeExperiencedPart Ti...,5-10 Yrs of Exp10+ Yrs of Exp2+ Yrs of Exp2+ Y...,GizaGizaGizaGizaGizaGiza,"Performance Management, Microsoft Office, Comm..."
3Brothers,Sales EngineerProcess EngineerPlanning Manager...,Heliopolis 10th of Ramadan City 10th of Ramad...,Full TimeFull TimeFull TimeFull Time,Entry LevelExperiencedManagerExperienced,1-2 Yrs of Exp2-5 Yrs of Exp5-7 Yrs of Exp3+ Y...,CairoSharqiaSharqiaSharqia,"Sales Skills, Electrical Power Engineering, Mi..."
...,...,...,...,...,...,...,...
shot men's wear,Store Manager-Tanta/MahallaStore Manager-Mansoura,Tanta Mansoura,Full TimeFull Time,ManagerManager,2-5 Yrs of Exp2-5 Yrs of Exp,GharbiaDakahlia,"Males Only, Store Management, Customer Service..."
siParadigm Egypt,Java EngineerBusiness System Analyst,Sheraton Sheraton,Full TimeFull Time,ExperiencedExperienced,2-4 Yrs of Exp3-5 Yrs of Exp,CairoCairo,"Software Development, Java, Information Techno..."
smartpace solutions,UI UX Designer / Graphic Designer,Cairo,Full Time,Work From Home,3+ Yrs of Exp,Egypt,"Designer, UX, UI, Computer Science, Informatio..."
wnpro,Logistics SupervisorBusiness Development & Mar...,Cairo Giza Giza Mohandessin,Full TimeFull TimeFull TimeFull Time,ManagerEntry LevelEntry LevelManager,5+ Yrs of Exp1-2 Yrs of Exp1-2 Yrs of Exp5+ Yr...,EgyptEgyptEgyptGiza,"Supply Chain, Warehousing, Operations, Logisti..."
سلسلة معامل حديثة بالقاهرة,Lab Operations ManagerReceptionistChemistMedic...,Dokki Dokki Dokki Dokki Dokki Dokki,Full TimeFull TimeFull TimeFull TimeFull TimeF...,ManagerExperiencedExperiencedPart TimeManagerE...,5+ Yrs of Exp2+ Yrs of Exp2+ Yrs of Exp2+ Yrs ...,GizaGizaGizaGizaGizaGiza,"Dental Labs, Dentist, Operations/Management, M..."

In [216]:
df.groupby(['Title']).sum()

,Company,Location,Type,Level,YearsExp,Country,Skills
Title,,,,,,,
.NET Angular Software Developer,Xceed,Maadi,Full Time,Experienced,5+ Yrs of Exp,Cairo,"Software Development, Computer Science, Softwa..."
.NET Back-End Web Developer,Confidential,Cairo,Full Time,Experienced,2-5 Yrs of Exp,Egypt,"Computer Science, Software Development, javaSc..."
.NET Developer,Beta ElectronicsDynamicslink,Dokki Nasr City,Full TimeFull Time,ExperiencedExperienced,2-5 Yrs of Exp3-5 Yrs of Exp,GizaCairo,"C#, Engineering, Computer Science, Programming..."
.NET Developer (Desktop Application),Confidential,Manial,Full Time,Experienced,2-5 Yrs of Exp,Cairo,"Information Technology (IT), .NET, C#, Softwar..."
.NET Developer - Internship,IKEN Technology,Maadi,Internship,Entry Level,0-1 Yrs of Exp,Cairo,"Computer Science, Information Technology (IT),..."
...,...,...,...,...,...,...,...
فنى صيانة ميكانيكا,EL SHIDEED,Obour City,Full Time,Experienced,4-10 Yrs of Exp,Cairo,"فنيين, صيانة, ميكانيكة, Manufacturing/Production"
مدير تنفيذ - Operations Director (Civil...,Agec,Cairo,Full Time,Manager,8+ Yrs of Exp,Egypt,"Management, Operations, Constructions, Site, E..."
مراجع لغة عربية - Arabic Proofreader (Hindawi...,Nagwa,Nasr City,Full Time,Experienced,3+ Yrs of Exp,Cairo,"Arabic Proofreading, Arabic Copy Editing, تدقي..."
مسؤول إدارة المستفيدين,Mishkat Nour,Nasr City,Full Time,Experienced,3-6 Yrs of Exp,Cairo,"Management, Data, Analysis, Administration"
مندوب تحصيل - Collector,BituNil,Heliopolis,Full Time,Entry Level,1-3 Yrs of Exp,Cairo,"Finance, Commerce, Accounting, Customer Care, ..."

In [224]:
df.groupby(['Location']).sum()

,Title,Company,Type,Level,YearsExp,Country,Skills
Location,,,,,,,
10th of Ramadan City,Design Mechanical EngineerOutdoor Sales Repres...,Orientals for Urban DevelopmentConfidentialMan...,Full TimeFull TimeFull TimeFull TimeFull TimeF...,ExperiencedExperiencedManagerExperiencedManage...,5-7 Yrs of Exp1-5 Yrs of Exp6-8 Yrs of Exp3-5 ...,SharqiaCairoCairoCairoSharqiaSharqiaSharqiaCai...,"CAD, SolidWorks, Mechanical Design, Creative/D..."
15th May City,Sales Account Manager - Cairo,Stand zone,Full Time,Entry Level,1-4 Yrs of Exp,Cairo,"Retail, Design, Indoor Sales, Sales Skills, Cu..."
6th of October,Industrial EngineerIT Network SpecialistSales ...,Longman EgyptRaya Contact CenterWellness World...,Full TimeFull TimeFull TimeFull TimeFull TimeF...,ExperiencedExperiencedEntry LevelExperiencedEx...,5-7 Yrs of Exp3-5 Yrs of Exp1-3 Yrs of Exp2-5 ...,GizaGizaGizaGizaGizaGizaGizaGizaGizaGizaGizaGi...,"Industrial Engineering, Production, Skills, Me..."
Abbassia,Operations CoordinatorSenior Team Leader (Onsh...,Berlitz EgyptAtheel CCB.TechNageh TexMajorel E...,Full TimeFull TimeFull TimeFull TimeFull TimeF...,Entry LevelShift BasedEntry LevelExperiencedMa...,0-1 Yrs of Exp1-2 Yrs of Exp1-3 Yrs of Exp3-10...,CairoCairoCairoCairoCairoCairoCairoCairoCairoC...,"Administration, Microsoft Office, Reception, O..."
Abdeen,Front End Developer--ReactWebsite Designer (Ec...,VRapeuticConfidentialTatas,Full TimePart TimeFull Time,ExperiencedExperiencedExperienced,3+ Yrs of Exp3-5 Yrs of Exp2-3 Yrs of Exp,CairoCairoCairo,"Front-End Development, React Native, Informati..."
...,...,...,...,...,...,...,...
Vienna,Senior iOS Developer,Confidential,Full Time,Experienced,5+ Yrs of Exp,Austria,"Information Technology (IT), iOS, Software Dev..."
Wadi Alnatrun,Agriculture Equipment Maintenance ManagerFollo...,Nile SugarNile SugarNile SugarAl Watania Poultry,Full TimeFull TimeFull TimeFull Time,ManagerManagerManagerExperienced,10+ Yrs of Exp10+ Yrs of Exp10+ Yrs of Exp2-4 ...,BeheiraBeheiraBeheiraBeheira,"Maintenance, Management, Mechanical Engineerin..."
Zagazig,TV PresenterSales Supervisor Home Appliances -...,ConfidentialConfidentialCairo TradingTalabatOP...,Full TimeFull TimeFull TimeFull TimeFull Time,Entry LevelManagerExperiencedEntry LevelEntry ...,1-4 Yrs of Exp6+ Yrs of Exp7+ Yrs of Exp1-3 Yr...,SharqiaSharqiaSharqiaSharqiaSharqia,"Males Only, Media Production, Production Crew,..."
Zamalek,Risk ManagerFeasibility AnalystSocial Media Gr...,ConfidentialConfidentialDigisayPICO23prime prA...,Full TimeFull TimePart TimeFull TimeFull TimeF...,ManagerExperiencedExperiencedManagerEntry Leve...,3-5 Yrs of Exp3-5 Yrs of Exp3-5 Yrs of Exp6-7 ...,CairoCairoCairoCairoCairoCairoCairoCairoCairoC...,"Finance, Accounting, Financial Analysis, Busin..."
khanka,IT & ERP System ManagerData Entry Specialist,ConfidentialConfidential,Full TimeFull Time,ManagerEntry Level,3+ Yrs of Exp0-1 Yrs of Exp,QalubiaQalubia,"Computer Science, Software, Hardware, Computer..."

In [232]:
skills_series = df['Skills'].dropna().str.split(',').explode()  
top_skills = skills_series.value_counts().head(10) 

print("Top 10 Most In-Demand Skills:")
print(top_skills)

Top 10 Most In-Demand Skills:
Skills
English                        1236
Sales/Retail                    655
Sales Target                    587
Microsoft Office                552
Computer Science                543
Sales Skills                    489
Customer Service                479
Administration                  444
Communication Skills            430
Information Technology (IT)     416
Name: count, dtype: int64

In [234]:
Country_series = df['Country'].dropna().str.split(',').explode()  
top_Country = Country_series.value_counts().head(10) 

print("Top 10 Most In-Demand Country:")
print(top_Country)

Top 10 Most In-Demand Country:
Country
Cairo           2230
Egypt            927
Giza             776
Alexandria       129
Sharqia           62
Saudi Arabia      51
Dakahlia          37
Gharbia           27
Red Sea           16
Monufya           16
Name: count, dtype: int64

In [236]:
Company_series = df['Company'].dropna().str.split(',').explode()  
top_Company = Company_series.value_counts().head(10) 

print("Top 10 Most In-Demand Company:")
print(top_Company)

Top 10 Most In-Demand Company:
Company
Confidential                                        590
Mishkat Nour                                         39
Expand Cart                                          35
EGIC                                                 34
Aqarmap.com                                          25
Majorel Egypt                                        23
Ghassan Ahmed Alsulaiman for Electronic Services     21
Flairstech                                           18
Profolio Consulting                                  17
OPPO Egypt                                           16
Name: count, dtype: int64

In [238]:
Title_series = df['Title'].dropna().str.split(',').explode()  
top_Title = Title_series.value_counts().head(10) 

print("Top 10 Most In-Demand Title:")
print(top_Title)

Top 10 Most In-Demand Title:
Title
Accountant                      57
Sales Representative            47
Graphic Designer                43
Digital Marketing Specialist    26
Social Media Specialist         25
Sales Manager                   25
Receptionist                    23
Executive Secretary             21
Sales Executive                 18
Marketing Specialist            17
Name: count, dtype: int64

In [240]:
Location_series = df['Location'].dropna().str.split(',').explode()  
top_Location = Location_series.value_counts().head(10) 

print("Top 10 Most In-Demand Location:")
print(top_Location)

Top 10 Most In-Demand Location:
Location
Cairo             563
Maadi             525
New Cairo         522
Nasr City         424
6th of October    282
Heliopolis        247
Mohandessin       140
Dokki             140
Alexandria        130
Giza              126
Name: count, dtype: int64

In [242]:
YearsExp_series = df['YearsExp'].dropna().str.split(',').explode()  
top_YearsExp = YearsExp_series.value_counts().head(10) 

print("Top 10 Most In-Demand YearsExp:")
print(top_YearsExp)

Top 10 Most In-Demand YearsExp:
YearsExp
1-3 Yrs of Exp    414
3-5 Yrs of Exp    390
3+ Yrs of Exp     309
2+ Yrs of Exp     259
5+ Yrs of Exp     238
1+ Yrs of Exp     201
2-4 Yrs of Exp    189
1-2 Yrs of Exp    185
2-5 Yrs of Exp    183
2-3 Yrs of Exp    159
Name: count, dtype: int64

In [244]:
Level_series = df['Level'].dropna().str.split(',').explode()  
top_Level = Level_series.value_counts().head(10) 

print("Top 10 Most In-Demand Level:")
print(top_Level)

Top 10 Most In-Demand Level:
Level
Experienced            2198
Entry Level            1139
Manager                 737
Work From Home          102
Part Time                74
Shift Based              47
Senior Management        37
Freelance / Project      32
Student                  14
Name: count, dtype: int64

In [246]:
Type_series = df['Type'].dropna().str.split(',').explode()  
top_Type = Type_series.value_counts().head(10) 

print("Top 10 Most In-Demand Type:")
print(top_Type)

Top 10 Most In-Demand Type:
Type
Full Time              4168
Internship               80
Part Time                70
Freelance / Project      44
Work From Home           11
Shift Based               7
Name: count, dtype: int64

In [312]:
unique_distribution = pd.DataFrame({
    "Column": df.columns,
    "Unique Values": [df[col].nunique() for col in df.columns],
    "Total Values": [len(df[col]) for col in df.columns],
    "Percentage of Uniqueness": [df[col].nunique() / len(df[col]) * 100 for col in df.columns]
})

print ("When the percentage increases, the diversity increases.")
unique_distribution

When the percentage increases, the diversity increases.

    Column   Unique Values  Total Values  Percentage of Uniqueness
0     Title      2965           4380              67.694064
1   Company      1534           4380              35.022831
2  Location       162           4380               3.698630
3      Type         6           4380               0.136986
4     Level         9           4380               0.205479
5  YearsExp       101           4380               2.305936
6   Country        42           4380               0.958904
7    Skills      4227           4380              96.506849

In [318]:
comparison_table = df.groupby(['Type', 'Level']).size().reset_index(name='Job Count')

sorted_comparison_table = comparison_table.sort_values(by='Level')

print("Comparison between job types and job levels (sorted by Level):")
for _, row in sorted_comparison_table.iterrows():
    print(f"\"{row['Level']}\" represents {row['Job Count']} jobs of type \"{row['Type']}\".")

Comparison between job types and job levels (sorted by Level):
"Entry Level" represents 6 jobs of type "Freelance / Project".
"Entry Level" represents 4 jobs of type "Shift Based".
"Entry Level" represents 8 jobs of type "Part Time".
"Entry Level" represents 66 jobs of type "Internship".
"Entry Level" represents 1051 jobs of type "Full Time".
"Entry Level" represents 4 jobs of type "Work From Home".
"Experienced" represents 3 jobs of type "Shift Based".
"Experienced" represents 34 jobs of type "Part Time".
"Experienced" represents 7 jobs of type "Work From Home".
"Experienced" represents 22 jobs of type "Freelance / Project".
"Experienced" represents 2132 jobs of type "Full Time".
"Freelance / Project" represents 18 jobs of type "Part Time".
"Freelance / Project" represents 14 jobs of type "Full Time".
"Manager" represents 731 jobs of type "Full Time".
"Manager" represents 4 jobs of type "Freelance / Project".
"Manager" represents 2 jobs of type "Part Time".
"Part Time" represents 74 jobs of type "Full Time".
"Senior Management" represents 9 jobs of type "Freelance / Project".
"Senior Management" represents 28 jobs of type "Full Time".
"Shift Based" represents 2 jobs of type "Part Time".
"Shift Based" represents 1 jobs of type "Freelance / Project".
"Shift Based" represents 44 jobs of type "Full Time".
"Student" represents 14 jobs of type "Internship".
"Work From Home" represents 2 jobs of type "Freelance / Project".
"Work From Home" represents 6 jobs of type "Part Time".
"Work From Home" represents 94 jobs of type "Full Time".

In [320]:
comparison_table = df.groupby(['Type', 'Level']).size().reset_index(name='Job Count')

sorted_comparison_table = comparison_table.sort_values(by='Level')

print("Comparison between job types and job levels (sorted by Level):")

sorted_comparison_table

Comparison between job types and job levels (sorted by Level):

           Type                Level          Job Count
0   Freelance / Project          Entry Level       6
22          Shift Based          Entry Level       4
16            Part Time          Entry Level       8
14           Internship          Entry Level      66
6             Full Time          Entry Level    1051
24       Work From Home          Entry Level       4
23          Shift Based          Experienced       3
17            Part Time          Experienced      34
25       Work From Home          Experienced       7
1   Freelance / Project          Experienced      22
7             Full Time          Experienced    2132
18            Part Time  Freelance / Project      18
8             Full Time  Freelance / Project      14
9             Full Time              Manager     731
2   Freelance / Project              Manager       4
19            Part Time              Manager       2
10            Full Time            Part Time      74
3   Freelance / Project    Senior Management       9
11            Full Time    Senior Management      28
20            Part Time          Shift Based       2
4   Freelance / Project          Shift Based       1
12            Full Time          Shift Based      44
15           Internship              Student      14
5   Freelance / Project       Work From Home       2
21            Part Time       Work From Home       6
13            Full Time       Work From Home      94

In [322]:
comparison_table = df.groupby(['Type', 'YearsExp', 'Level']).size().reset_index(name='Job Count')

sorted_comparison_table = comparison_table.sort_values(by='Level')

print("Comparison between experience, job types, and job levels (sorted by Level):")

sorted_comparison_table

Comparison between experience, job types, and job levels (sorted by Level):

            Type             YearsExp         Level       Job Count
0    Freelance / Project  0-1 Yrs of Exp     Entry Level       1
36             Full Time  0-5 Yrs of Exp     Entry Level      12
39             Full Time  0-6 Yrs of Exp     Entry Level       1
41             Full Time  0-7 Yrs of Exp     Entry Level       1
42             Full Time   1+ Yrs of Exp     Entry Level     174
..                   ...             ...             ...        ...
82             Full Time  10+ Yrs of Exp  Work From Home       2
298            Part Time  0-3 Yrs of Exp  Work From Home       1
306            Part Time  1-7 Yrs of Exp  Work From Home       1
138            Full Time  2-4 Yrs of Exp  Work From Home       3
31             Full Time  0-2 Yrs of Exp  Work From Home       1

[342 rows x 4 columns]

In [324]:
comparison_table = df.groupby(['Type', 'YearsExp', 'Level']).size().reset_index(name='Job Count')

sorted_comparison_table = comparison_table.sort_values(by='Level')

pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Adjust the width to avoid wrapping
pd.set_option('display.colheader_justify', 'center')  # Center column headers

print("Comparison between experience, job types, and job levels (sorted by Level):")
print(sorted_comparison_table)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')

Comparison between experience, job types, and job levels (sorted by Level):
            Type              YearsExp            Level          Job Count
0    Freelance / Project    0-1 Yrs of Exp          Entry Level       1
36             Full Time    0-5 Yrs of Exp          Entry Level      12
39             Full Time    0-6 Yrs of Exp          Entry Level       1
41             Full Time    0-7 Yrs of Exp          Entry Level       1
42             Full Time     1+ Yrs of Exp          Entry Level     174
48             Full Time   1-10 Yrs of Exp          Entry Level       1
49             Full Time    1-2 Yrs of Exp          Entry Level     164
56             Full Time    1-3 Yrs of Exp          Entry Level     362
63             Full Time    1-4 Yrs of Exp          Entry Level      37
68             Full Time    1-5 Yrs of Exp          Entry Level      46
72             Full Time    1-6 Yrs of Exp          Entry Level       2
75             Full Time    1-7 Yrs of Exp          Entry Level       3
115            Full Time     2+ Yrs of Exp          Entry Level       2
127            Full Time    2-3 Yrs of Exp          Entry Level       1
133            Full Time    2-4 Yrs of Exp          Entry Level       1
139            Full Time    2-5 Yrs of Exp          Entry Level       1
167            Full Time    3-5 Yrs of Exp          Entry Level       1
287            Full Time   null Yrs of Exp          Entry Level      12
290           Internship    0-1 Yrs of Exp          Entry Level      29
292           Internship   null Yrs of Exp          Entry Level      37
295            Part Time    0-2 Yrs of Exp          Entry Level       1
299            Part Time     1+ Yrs of Exp          Entry Level       3
301            Part Time    1-2 Yrs of Exp          Entry Level       1
302            Part Time    1-3 Yrs of Exp          Entry Level       3
328          Shift Based     1+ Yrs of Exp          Entry Level       3
329          Shift Based    1-2 Yrs of Exp          Entry Level       1
333       Work From Home    1-3 Yrs of Exp          Entry Level       1
334       Work From Home    1-4 Yrs of Exp          Entry Level       1
35             Full Time    0-4 Yrs of Exp          Entry Level       6
32             Full Time    0-3 Yrs of Exp          Entry Level      54
341       Work From Home   null Yrs of Exp          Entry Level       2
23             Full Time    0-1 Yrs of Exp          Entry Level      61
4    Freelance / Project    1-5 Yrs of Exp          Entry Level       1
3    Freelance / Project    1-3 Yrs of Exp          Entry Level       1
1    Freelance / Project     1+ Yrs of Exp          Entry Level       2
10   Freelance / Project    2-3 Yrs of Exp          Entry Level       1
28             Full Time    0-2 Yrs of Exp          Entry Level     109
246            Full Time    6-7 Yrs of Exp          Experienced       1
140            Full Time    2-5 Yrs of Exp          Experienced     159
13   Freelance / Project     3+ Yrs of Exp          Experienced       7
244            Full Time   6-15 Yrs of Exp          Experienced       1
15   Freelance / Project    3-5 Yrs of Exp          Experienced       2
248            Full Time    6-8 Yrs of Exp          Experienced       9
251            Full Time    6-9 Yrs of Exp          Experienced       1
134            Full Time    2-4 Yrs of Exp          Experienced     168
253            Full Time     7+ Yrs of Exp          Experienced      20
258            Full Time   7-10 Yrs of Exp          Experienced      13
145            Full Time    2-6 Yrs of Exp          Experienced      21
242            Full Time   6-12 Yrs of Exp          Experienced       1
128            Full Time    2-3 Yrs of Exp          Experienced     140
126            Full Time    2-2 Yrs of Exp          Experienced       1
16   Freelance / Project     4+ Yrs of Exp          Experienced       2
121            Full Time   2-10 Yrs of Exp          Experienced       2
149            Full Time    2-7 Yrs of Exp          Experienced      11
264            Full Time   7-15 Yrs of Exp          Experienced       2
267            Full Time    7-8 Yrs of Exp          Experienced       2
116            Full Time     2+ Yrs of Exp          Experienced     224
268            Full Time    7-9 Yrs of Exp          Experienced       4
112            Full Time  15-20 Yrs of Exp          Experienced       1
270            Full Time     8+ Yrs of Exp          Experienced      12
110            Full Time  15-17 Yrs of Exp          Experienced       1
273            Full Time   8-10 Yrs of Exp          Experienced      15
107            Full Time    15+ Yrs of Exp          Experienced       2
276            Full Time   8-12 Yrs of Exp          Experienced       2
278            Full Time   8-15 Yrs of Exp          Experienced       2
261            Full Time   7-12 Yrs of Exp          Experienced       2
150            Full Time    2-8 Yrs of Exp          Experienced       4
153            Full Time     3+ Yrs of Exp          Experienced     242
239            Full Time   6-10 Yrs of Exp          Experienced       8
202            Full Time    4-8 Yrs of Exp          Experienced      14
196            Full Time    4-6 Yrs of Exp          Experienced      63
193            Full Time    4-5 Yrs of Exp          Experienced      19
206            Full Time     5+ Yrs of Exp          Experienced     139
189            Full Time   4-10 Yrs of Exp          Experienced       9
212            Full Time   5-10 Yrs of Exp          Experienced      42
185            Full Time     4+ Yrs of Exp          Experienced      72
217            Full Time   5-11 Yrs of Exp          Experienced       1
183            Full Time    3-8 Yrs of Exp          Experienced       7
219            Full Time   5-12 Yrs of Exp          Experienced       3
179            Full Time    3-7 Yrs of Exp          Experienced      39
221            Full Time   5-15 Yrs of Exp          Experienced       2
224            Full Time   5-20 Yrs of Exp          Experienced       1
151            Full Time    2-9 Yrs of Exp          Experienced       1
174            Full Time    3-6 Yrs of Exp          Experienced      53
229            Full Time    5-7 Yrs of Exp          Experienced      73
340       Work From Home   5-10 Yrs of Exp          Experienced       1
168            Full Time    3-5 Yrs of Exp          Experienced     325
12   Freelance / Project    2-5 Yrs of Exp          Experienced       1
165            Full Time    3-4 Yrs of Exp          Experienced      45
164            Full Time    3-3 Yrs of Exp          Experienced       1
232            Full Time    5-8 Yrs of Exp          Experienced      29
162            Full Time   3-15 Yrs of Exp          Experienced       1
161            Full Time   3-12 Yrs of Exp          Experienced       1
159            Full Time   3-10 Yrs of Exp          Experienced      14
235            Full Time    5-9 Yrs of Exp          Experienced       6
237            Full Time     6+ Yrs of Exp          Experienced      15
100            Full Time    12+ Yrs of Exp          Experienced       1
226            Full Time    5-6 Yrs of Exp          Experienced      12
280            Full Time   8-20 Yrs of Exp          Experienced       1
199            Full Time    4-7 Yrs of Exp          Experienced      31
282            Full Time     9+ Yrs of Exp          Experienced       1
308            Part Time    2-3 Yrs of Exp          Experienced       2
311            Part Time    2-4 Yrs of Exp          Experienced       1
18   Freelance / Project    4-6 Yrs of Exp          Experienced       1
312            Part Time    2-5 Yrs of Exp          Experienced       2
313            Part Time    2-7 Yrs of Exp          Experienced       1
69             Full Time    1-5 Yrs of Exp          Experienced       3
317            Part Time    3-5 Yrs of Exp          Experienced       8
64             Full Time    1-4 Yrs of Exp          Experienced       2
20   Freelance / Project     7+ Yrs of Exp          Experienced       1
319            Part Time    3-6 Yrs of Exp          Experienced       2
320            Part Time    3-7 Yrs of Exp          Experienced       7
57             Full Time    1-3 Yrs of Exp          Experienced       4
21   Freelance / Project   8-10 Yrs of Exp          Experienced       1
322            Part Time    4-7 Yrs of Exp          Experienced       2
323            Part Time     5+ Yrs of Exp          Experienced       6
325            Part Time    5-7 Yrs of Exp          Experienced       1
50             Full Time    1-2 Yrs of Exp          Experienced       2
330          Shift Based    2-4 Yrs of Exp          Experienced       1
331          Shift Based    2-5 Yrs of Exp          Experienced       1
332          Shift Based    3-7 Yrs of Exp          Experienced       1
40             Full Time    0-6 Yrs of Exp          Experienced       1
335       Work From Home    2-5 Yrs of Exp          Experienced       1
37             Full Time    0-5 Yrs of Exp          Experienced       1
336       Work From Home     3+ Yrs of Exp          Experienced       1
337       Work From Home   3-20 Yrs of Exp          Experienced       1
338       Work From Home     4+ Yrs of Exp          Experienced       2
339       Work From Home     5+ Yrs of Exp          Experienced       1
307            Part Time     2+ Yrs of Exp          Experienced       2
78             Full Time    10+ Yrs of Exp          Experienced      15
19   Freelance / Project     5+ Yrs of Exp          Experienced       3
85             Full Time  10-12 Yrs of Exp          Experienced       8
11   Freelance / Project    2-4 Yrs of Exp          Experienced       2
95             Full Time  10-20 Yrs of Exp          Experienced       1
83             Full Time  10-10 Yrs of Exp          Experienced       1
9    Freelance / Project   2-10 Yrs of Exp          Experienced       1
8    Freelance / Project     2+ Yrs of Exp          Experienced       1
89             Full Time  10-15 Yrs of Exp          Experienced       2
294            Part Time    0-1 Yrs of Exp  Freelance / Project       1
58             Full Time    1-3 Yrs of Exp  Freelance / Project       3
321            Part Time    4-6 Yrs of Exp  Freelance / Project       2
296            Part Time    0-2 Yrs of Exp  Freelance / Project       5
43             Full Time     1+ Yrs of Exp  Freelance / Project       1
324            Part Time     5+ Yrs of Exp  Freelance / Project       1
318            Part Time    3-5 Yrs of Exp  Freelance / Project       1
24             Full Time    0-1 Yrs of Exp  Freelance / Project       1
154            Full Time     3+ Yrs of Exp  Freelance / Project       1
51             Full Time    1-2 Yrs of Exp  Freelance / Project       2
169            Full Time    3-5 Yrs of Exp  Freelance / Project       1
314            Part Time     3+ Yrs of Exp  Freelance / Project       2
175            Full Time    3-6 Yrs of Exp  Freelance / Project       1
122            Full Time   2-10 Yrs of Exp  Freelance / Project       1
303            Part Time    1-3 Yrs of Exp  Freelance / Project       1
135            Full Time    2-4 Yrs of Exp  Freelance / Project       1
207            Full Time     5+ Yrs of Exp  Freelance / Project       1
304            Part Time    1-5 Yrs of Exp  Freelance / Project       1
297            Part Time    0-3 Yrs of Exp  Freelance / Project       1
300            Part Time     1+ Yrs of Exp  Freelance / Project       3
213            Full Time   5-10 Yrs of Exp  Freelance / Project       1
214            Full Time   5-10 Yrs of Exp              Manager      36
279            Full Time   8-15 Yrs of Exp              Manager       3
222            Full Time   5-15 Yrs of Exp              Manager       6
283            Full Time     9+ Yrs of Exp              Manager       1
286            Full Time   9-14 Yrs of Exp              Manager       1
271            Full Time     8+ Yrs of Exp              Manager      17
205            Full Time    4-9 Yrs of Exp              Manager       1
203            Full Time    4-8 Yrs of Exp              Manager       2
277            Full Time   8-12 Yrs of Exp              Manager       8
218            Full Time   5-11 Yrs of Exp              Manager       1
208            Full Time     5+ Yrs of Exp              Manager      77
285            Full Time   9-12 Yrs of Exp              Manager       2
284            Full Time   9-10 Yrs of Exp              Manager       1
275            Full Time   8-11 Yrs of Exp              Manager       1
274            Full Time   8-10 Yrs of Exp              Manager      24
220            Full Time   5-12 Yrs of Exp              Manager       4
254            Full Time     7+ Yrs of Exp              Manager      35
200            Full Time    4-7 Yrs of Exp              Manager       9
227            Full Time    5-6 Yrs of Exp              Manager       2
259            Full Time   7-10 Yrs of Exp              Manager      32
252            Full Time    6-9 Yrs of Exp              Manager       4
249            Full Time    6-8 Yrs of Exp              Manager       9
6    Freelance / Project  10-20 Yrs of Exp              Manager       2
247            Full Time    6-7 Yrs of Exp              Manager       3
245            Full Time   6-15 Yrs of Exp              Manager       3
262            Full Time   7-12 Yrs of Exp              Manager       2
263            Full Time   7-13 Yrs of Exp              Manager       1
243            Full Time   6-14 Yrs of Exp              Manager       1
327            Part Time   8-10 Yrs of Exp              Manager       1
240            Full Time   6-10 Yrs of Exp              Manager      10
315            Part Time     3+ Yrs of Exp              Manager       1
238            Full Time     6+ Yrs of Exp              Manager      12
265            Full Time   7-15 Yrs of Exp              Manager       9
236            Full Time    5-9 Yrs of Exp              Manager       3
266            Full Time   7-20 Yrs of Exp              Manager       1
233            Full Time    5-8 Yrs of Exp              Manager      16
5    Freelance / Project  10-10 Yrs of Exp              Manager       1
230            Full Time    5-7 Yrs of Exp              Manager      38
269            Full Time    7-9 Yrs of Exp              Manager       2
281            Full Time    8-9 Yrs of Exp              Manager       1
186            Full Time     4+ Yrs of Exp              Manager      19
170            Full Time    3-5 Yrs of Exp              Manager      37
70             Full Time    1-5 Yrs of Exp              Manager       1
163            Full Time   3-15 Yrs of Exp              Manager       2
160            Full Time   3-10 Yrs of Exp              Manager       1
44             Full Time     1+ Yrs of Exp              Manager       3
106            Full Time  14-18 Yrs of Exp              Manager       1
152            Full Time    20+ Yrs of Exp              Manager       3
88             Full Time  10-13 Yrs of Exp              Manager       1
90             Full Time  10-15 Yrs of Exp              Manager      37
146            Full Time    2-6 Yrs of Exp              Manager       4
141            Full Time    2-5 Yrs of Exp              Manager      12
94             Full Time  10-16 Yrs of Exp              Manager       2
136            Full Time    2-4 Yrs of Exp              Manager       9
96             Full Time  10-20 Yrs of Exp              Manager       4
129            Full Time    2-3 Yrs of Exp              Manager       8
59             Full Time    1-3 Yrs of Exp              Manager      13
123            Full Time   2-10 Yrs of Exp              Manager       2
55             Full Time   1-20 Yrs of Exp              Manager       1
101            Full Time    12+ Yrs of Exp              Manager       2
117            Full Time     2+ Yrs of Exp              Manager      10
102            Full Time  12-15 Yrs of Exp              Manager       2
113            Full Time  15-20 Yrs of Exp              Manager      19
111            Full Time  15-17 Yrs of Exp              Manager       1
104            Full Time  12-20 Yrs of Exp              Manager       1
108            Full Time    15+ Yrs of Exp              Manager      21
166            Full Time    3-4 Yrs of Exp              Manager       3
86             Full Time  10-12 Yrs of Exp              Manager       7
155            Full Time     3+ Yrs of Exp              Manager      36
105            Full Time  13-16 Yrs of Exp              Manager       1
79             Full Time    10+ Yrs of Exp              Manager      60
184            Full Time    3-8 Yrs of Exp              Manager       1
84             Full Time  10-10 Yrs of Exp              Manager       1
180            Full Time    3-7 Yrs of Exp              Manager       7
190            Full Time   4-10 Yrs of Exp              Manager       3
17   Freelance / Project     4+ Yrs of Exp              Manager       1
197            Full Time    4-6 Yrs of Exp              Manager       7
194            Full Time    4-5 Yrs of Exp              Manager       7
176            Full Time    3-6 Yrs of Exp              Manager       3
29             Full Time    0-2 Yrs of Exp              Manager       1
191            Full Time   4-10 Yrs of Exp            Part Time       1
97             Full Time  10-20 Yrs of Exp            Part Time       1
255            Full Time     7+ Yrs of Exp            Part Time       1
71             Full Time    1-5 Yrs of Exp            Part Time       1
130            Full Time    2-3 Yrs of Exp            Part Time       2
76             Full Time    1-7 Yrs of Exp            Part Time       1
73             Full Time    1-6 Yrs of Exp            Part Time       1
192            Full Time   4-13 Yrs of Exp            Part Time       2
125            Full Time   2-15 Yrs of Exp            Part Time       1
124            Full Time   2-10 Yrs of Exp            Part Time       2
209            Full Time     5+ Yrs of Exp            Part Time       3
118            Full Time     2+ Yrs of Exp            Part Time       8
33             Full Time    0-3 Yrs of Exp            Part Time       2
52             Full Time    1-2 Yrs of Exp            Part Time       2
65             Full Time    1-4 Yrs of Exp            Part Time       2
60             Full Time    1-3 Yrs of Exp            Part Time       9
171            Full Time    3-5 Yrs of Exp            Part Time       3
225            Full Time   5-20 Yrs of Exp            Part Time       1
25             Full Time    0-1 Yrs of Exp            Part Time       2
223            Full Time   5-15 Yrs of Exp            Part Time       2
177            Full Time    3-6 Yrs of Exp            Part Time       1
45             Full Time     1+ Yrs of Exp            Part Time       4
156            Full Time     3+ Yrs of Exp            Part Time       9
187            Full Time     4+ Yrs of Exp            Part Time       1
77             Full Time    1-8 Yrs of Exp            Part Time       1
38             Full Time    0-5 Yrs of Exp            Part Time       1
147            Full Time    2-6 Yrs of Exp            Part Time       2
288            Full Time   null Yrs of Exp            Part Time       5
91             Full Time  10-15 Yrs of Exp            Part Time       1
142            Full Time    2-5 Yrs of Exp            Part Time       1
181            Full Time    3-7 Yrs of Exp            Part Time       1
87             Full Time  10-12 Yrs of Exp    Senior Management       1
80             Full Time    10+ Yrs of Exp    Senior Management       9
103            Full Time  12-15 Yrs of Exp    Senior Management       1
98             Full Time  10-20 Yrs of Exp    Senior Management       2
92             Full Time  10-15 Yrs of Exp    Senior Management       2